.rojo{
    background-color: #da2121;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
}
.rosa{
    background-color: #ff9595;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem; 
}

.buscador{
    background-color: #93bb54;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem; 
}

.principal{
    height: fit-content;
    background-color: #da2121;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.article{
    background-color: white;
    width: 25%;
    color: black;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px;
    width: fit-content;
    height: 100px;
}
.footer{
    background-color: #549abb;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem; 
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}